* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  width: 100vw;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #d9d9d9;
  padding: 30px;
  width: 394px;
  height: 335px;
}

.form-container img {
  width: 100px;
  align-self: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 15px 8px;
  border: none;
}

.input::placeholder {
  font-size: 14px;
  color: #d9d9d9;
  text-transform: uppercase;
}

.input:focus {
  outline: none;
}

.form-container form button {
  padding: 15px 60px;
  align-self: center;
  border: none;
  color: white;
  background-color: #04c9f4;
  margin-top: 5px;
}
